body{
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
.head{
	background: #337ab7;
	color: white;
	width: 200px;
}
.tab-pane{
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-top: 10px;
}
.tag{
	padding: 2px 12px;
}
.row{
	margin-bottom: 5px;
}